{% extends "base.html" %}

{% block content %}
<div class="row">
    <h2 class="span4">Мои проекты</h2>
    <form class="search-block form-search">
        {% csrf_token %}
        <input type="text" name="q" class="input-medium search-query">
        <button class="js-search btn">Поиск</button>
        <a href="/project/create/" class="span2 btn btn-primary pull-right js-pr-create">Создать проект</a>
    </form>
</div>
    <div class="">
        <div id="projects" class="tab-pane fade active in">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Дата изменения</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "inc/project_list.html" %}
                </tbody>
            </table>
        </div>

        <div id="createProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addingProjectLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="addingProjectLabel">Новый проект</h3>
            </div>
            <div class="modal-body">
                <form id="create_form" enctype="multipart/form-data" method="POST" class="form-horizontal" action="">
                    {% csrf_token %}
                    <fieldset>
                        <div class="control-group {% if errors.name %}error{% endif %}">
                            <label class="control-label" for="Name">Название</label>
                            <div class="controls">
                                <input class="js-clean" type="text" name="name" id="Name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="type">Описание</label>
                            <div class="controls">
                                <textarea class="js-clean" name="descr"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="js-pr-submit btn btn-primary pull-right">Создать</button>
            </div>
        </div>

        <div id="editProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editProjectLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="addingProjectLabel">Изменить проект</h3>
            </div>
            <div class="modal-body">
                <form id="edit_form" enctype="multipart/form-data" method="POST" class="form-horizontal" action="">
                    {% csrf_token %}
                    <fieldset>
                        <div class="control-group {% if errors.name %}error{% endif %}">
                            <label class="control-label" for="Name">Название</label>
                            <div class="controls">
                                <input type="text" name="name" id="Name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="type">Описание</label>
                            <div class="controls">
                                <textarea name="descr"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="js-pr-edit-submit btn btn-primary pull-right">Изменить</button>
            </div>
        </div>


    </div>

    <div id="js-total" data-num="{{ data.total }}"></div>
    {% if data.total > 20 %}
        <div>
            <button type="button" class="js-more btn btn-primary">Ещё</button>
        </div>
    {% endif %}
{% endblock %}
