{% extends "base.html" %}

{% block content %}
<h2>Проекты</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
    {% for project in data.projects %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/project/{{ project.id }}/">{{ project.name }}</a></td>
            <td>{{ project.date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="#prjectCreateModal" role="button" class="btn btn-primary" data-toggle="modal">Создать проект</a>
<!-- Modal -->
<div id="prjectCreateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="prjectCreateModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="prjectCreateModalLabel">Создание проекта</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <button id="js-create-submit" class="btn btn-primary">Создать</button>
    </div>
</div>

<script>
    $('#js-create-submit').on('click', function () {
        $.post("/ajax/project/create/", { name: "2pm" })
            .done(function(data) {
            alert("Data Loaded: " + data);
        });
    });

</script>

{% endblock %}
