{% extends "base.html" %}

{% block content %}
<h2>Проект {{ data.project.name }}</h2>
<div class="project-entities">
    <ul class="nav nav-tabs" id="entTab">
        <li class="active"><a data-toggle="tab" href="#calculation">Расчет</a></li>
        <li class=""><a data-toggle="tab" href="#estimation">Оценка</a></li>
        <li class=""><a data-toggle="tab" href="#analysis">Анализ</a></li>
    </ul>
    <div class="tab-content" id="entTabContent">
        <div id="calculation" class="tab-pane fade active in">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                {% for calculation in data.calculations %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/calculation/{{ calculation.id }}/">{{ calculation.name }}</a></td>
                        <td>{{ calculation.date | date:'d-m-Y G:i:s' }}</td>
                        <td><a href="#" data-url="/ajax/calculation/delete/{{ calculation.id }}/" class="btn js-ent-delete">Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/calculation/create/{{ data.project.id }}/" class="btn btn-primary">Создать расчет</a>
        </div>
        <div id="estimation" class="tab-pane fade">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                {% for estimation in data.estimations %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/estimation/{{ estimation.id }}/">{{ estimation.name }}</a></td>
                        <td>{{ estimation.date | date:'d-m-Y G:i:s' }}</td>
                        <td><a href="#" data-url="/ajax/estimation/delete/{{ estimation.id }}/" class="btn js-ent-delete">Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/estimation/create/{{ data.project.id }}/" class="btn btn-primary">Создать оценку</a>
        </div>
        <div id="analysis" class="tab-pane fade">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                {% for analysis in data.analyzes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/analysis/{{ analysis.id }}/">{{ analysis.name }}</a></td>
                        <td>{{ analysis.date | date:'d-m-Y G:i:s' }}</td>
                        <td><a href="#" data-url="/ajax/analysis/delete/{{ analysis.id }}/" class="btn js-ent-delete">Удалить</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/analysis/create/{{ data.project.id }}/" class="btn btn-primary">Создать анализ</a>
        </div>
    </div>
</div>

{% endblock %}
