{% extends "base.html" %}

{% block content %}

<div class="row">
    <div >
        <p>
            <h2 class="text-center"> Проекты </h2>
            {% if data%}
                <h4 class="text-center">Результаты запроса <i>"{{ query }}"</i></h4>
            {% else %}
                <h4 class="text-center">По запросу <i>"{{ query }}"</i> ничего не найдено</h4>
            {% endif %}
        </p>
    </div>
    <div style="margin: 0 auto; display: table;">
        <table class="table table-hover table table-condensed span8" >
            <thead>
                <tr rowspan="4">
                    <div class="" style="margin: 0px 0px 10px 0px;">
                        <form action="/searchproject/" method="POST" class="navbar-search pull-left">{% csrf_token %}
                            <input type="text" value="{{ query }}" class="search-query" name="search_q" placeholder="Найти проект по имени">
                        </form>
                    </div>
                </tr>    
                <tr>
                    <th >#</th>
                    <th class="centered">Проект</th>
                    <th align="center">Последнее изменение</th>
                    <th align="center">Управление</th>
                </tr>
            </thead>
            <tbody>
                {% for string in data.values %}
                <tr>
                    <td class="span1">{{ forloop.counter }}</td>
                    <td class="span4"><a id="projName_{{ forloop.counter }}" href="/project/{{ string.id }}/">{{ string.name }}</a></td>
                    <script type="text/javascript">
                        checkLength("{{ string.name }}","{{ forloop.counter }}");
                    </script>
                    <td class="span4">{{ string.date }}</td>
                    <td class="span1 ">
                        <div class="btn-group mini-btn">
                            <button  class="btn btn-small "  onclick="document.location.href = '/editproject/{{string.id}}/';" >
                                    Изменить
                            </button>
                                
                            <button class="btn btn-small " type="button" onclick="delProject({{string.id}}, '{{string.name}}')">
                                        Удалить
                            </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <form action="/deleteproject/" method="POST" id="del_proj" >{% csrf_token %}
                    <input type="hidden"></input>
                </form>

                <div id="editingProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editingProjectLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="editingProjectLabel">Изменить</h3>
                    </div>
                    <div class="modal-body">
                    <form action="/ajax/" method="POST" id="edit_proj" name="cpdata" class="navbar-form pull-left">{% csrf_token %}
                        <p>
                            <h4>Название проекта:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="text" id="editproject" class="span3" placeholder="Project Name" onKeyPress="return OnEnterButton(event,this.id)">
                            </h4>
                        </p>
                        <div>
                            <h4>
                                <span3>Описание:</span3>
                                <textarea rows="3" class="span3" name="descr" placeholder="What's  this project about?"></textarea>
                            </h4>
                        </div>
                        <button  type="button"  class="btn btn-primary pull-right"  onclick="checkInput('editproject')" >Ссхранить</button>
                    </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
                    </div>
                </div>
        </table>
    </div>
    <div class="offset2" >
        <a class="centered" href="/projects/">Назад к списку проектов</a>
    </div>
</div>                                   

{% endblock %}
