
<table class="table">
    <thead>
        <tr>
            <th>Название поля</th>
            <th>Значение поля</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Название</td>
            <td>{{ data.calculation.name }}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Дата</td>
            <td>{{ data.calculation.date | date:'d-m-Y G:i:s' }}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Время вычислений</td>
            <td>{{ data.calculation.time }}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Алгоритм</td>
            <td>{{ data.algorithm.name }}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Тестовая задача</td>
            <td>{{ data.problem.name }}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Фронт</td>
            <td>
            {% for row in data.output_data.front %}
                {{ row }} <br/>
            {% endfor %}
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Индикаторы</td>
            <td>
            {% for row in data.output_data.indicator %}
                {{ row }} <br/>
            {% endfor %}
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>Вывод</td>
            <td>
            {% for row in data.output_data.output %}
                {{ row }} <br/>
            {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

<div class="js-status" data-status="{{ data.calculation.status }}" data-id="{{ data.calculation.id }}"></div>
